<a href="https://colab.research.google.com/github/Yazanmy/MachineLearning/blob/master/Exercises_from_page_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
Ex1: Create a program that asks the user to enter their
name and their age. Print out a message addressed to them
that tells them the year that they will turn 100 years old.
```

In [0]:
name = input("Your Name : ")
age = int(input("Your age : "))
print ("Hello ",name, "in"  , 100- age +2019 )

```
Ex3: Take a list, say for example this one: a = [1, 1, 2, 3, 5, 8,
13, 21, 34, 55, 89] and write a program that prints out all
the elements of the list that are less than 5.
```

In [0]:
a = [1, 1, 2, 3, 5, 8,13, 21, 34, 55, 89]
for x in a :
  if x<5 :
    print (x)

```
Ex5: Take two lists, say for example these two: a = [1, 1, 2, 3,
5, 8, 13, 21, 34, 55, 89] and b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
11, 12, 13] and write a program that returns a list that
contains only the elements that are common between the
lists (without duplicates). Make sure your program works on
two lists of different sizes.
```

In [0]:
a = [1, 1, 2, 3,5, 8, 13, 21, 34, 55, 89] 
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11, 12, 13]
print (set(a) &  set(b))

both=[]

if len(a)<len(b) :
  for i in b :
    if i in a and i not in both :
      both.append(i)
      
if len(b)<len(a):
  for i in a :
    if i in b and i not in both :
      both.append(i)

print(both)

```
Ex28: Implement a function that takes as input three
variables, and returns the largest of the three. Do this
without using the Python max() function!

```

In [0]:
def fun(a,b,c):
  if a>b and a>c:
    return(a)
   
  if b>a and b>c:
    return(b)
  
  if c>a and c>b:
    return c
  
print(fun(5,9,7))